@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body{
  background-color: rgb(0, 0, 0);
}

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;

}

@keyframes border-rotate {
  to {
    --border-angle: 360deg;
  }
}

.animate-rotate-border {
  animation: border-rotate 10s linear infinite;
}